.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: max(16px, 1.25vw) max(24px, 1.67vw);
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 4px 12px 0px rgba(103, 111, 247, 0.25);
  transition: all 0.1s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container:hover {
  background-color: var(--blue-light-100);
}

.info {
  display: flex;
  gap: max(16px, 1.25vw);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name,
.count_tasks {
  color: var(--blue-base-500);
}

.name {
  text-align: start;
}

.finish_date,
.date {
  color: var(--black);
}

.mark {
  color: var(--blue-dark-700);
}

.mark_big {
  color: var(--blue-dark-600);
}
