.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn {
  width: 100%;
  justify-content: center;
  margin-top: 8px;
}

.input {
  width: max(320px, 21.56vw);
}

.form_container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

