.container {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  inset: 0;
  background-color: var(--gray-dark-700);
  opacity: 50%;
}

.modal {
  position: relative;
  z-index: 10;
  background-color: var(--white);
  border-radius: 8px;
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 48px);
  /* overflow: auto; */
  padding: 32px;
  padding-bottom: 40px;
}


