.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: max(16px, 1.25vw);
  align-items: center;
  padding-block: max(32px, 2.5vw);
  border-radius: 8px;
  box-shadow: 0px 4px 15px 0px rgba(103, 111, 247, 0.25);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.up:hover {
  transition: all 0.1s ease-out;
  transform: translateY(-6px);
}

.outline {
  transition: outline 0.1s ease-in-out;
  outline: 2px solid transparent;
}

.outline:hover {
  outline: 2px solid var(--blue-base-500);
}

.img {
  width: clamp(120px, 8.33vw, 160px);
  height: clamp(120px, 8.33vw, 160px);
}
