.ReactPiano__Key--accidental {
  background: var(
    --gray-dark-800
  ); /* Change accidental keys to be completely black */
}

.ReactPiano__Key--natural {
  background: var(--white); /* Change accidental keys to be completely black */
}

.ReactPiano__Key--active {
  background: var(
    --sky-base-500
  ); /* Change the default active key color to bright red */
}

.ReactPiano__NoteLabelContainer {
  text-align: center;
  font-size: 18px;
}

.ReactPiano__Keyboard {
  height: 160px !important;
}
