.tab {
  padding-block: 4px;
  cursor: pointer;
  width: max-content;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.tab:hover {
  transform: scale(1.03);
}

.tab_active {
  font-weight: 800;
  border-bottom: 3px solid var(--purple-base-500);
}

.tab_active:hover {
  transform: none;
  cursor: auto;
}
