.tab {
  padding-block: 4px;
  cursor: pointer;
  width: min-content;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.tab:hover {
  font-weight: 800;
}

.tab_active {
  font-weight: 800;
  border-bottom: 3px solid var(--purple-base-500);
}
